.header{
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.header_logo {
  object-fit: contian;
  height: 80px;
  width: 150px;
}

.mainPage_posts{
  padding: 20px;
  margin-left: 33%;
}

.unLogged{
  padding: 20px;
  margin-left: 38%;
}