.post {
    max-width: 500px;
    border: 1px solid lightgray;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}
.post_image{
    width: 100%;
    object-fit:contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post_text{
    font-weight: normal;
    padding: 20px;
    padding-bottom: 8px;
}

.post_header{
    display: flex;
    align-items: center;
    padding: 8px;
}

.post_avatar{
    margin-right: 10px;
}

.comments{
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.post_fields{
    display: flex;
    margin-top: 10px;
    border-top: 1px solid lightgray;
}

.post_input{
    flex: 1;
    border: none;
    padding: 10px;
}

.post_button{
    flex: 0;
}